<div class="container bg-light">
    <app-navbar></app-navbar>
    <div class="row">
    </div>
    <div class="row d-flex">
      <div class="col d-flex justify-content-center">
        <form>
          <div class="mb-3">
            <label for="tituloInput" class="form-label">Título</label>
            <input type="text" class="form-control" id="tituloInput">
          </div>
          <div class="mb-3">
            <label for="descricaoInput" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricaoInput">
          </div>
          <div class="mb-3">
            <label for="imagemInput" class="form-label">Imagem</label>
            <input type="email" class="form-control" id="imagemInput" aria-describedby="imagemHelp">
            <div id="imagemHelp" class="form-text">Envie o link de uma imagem hospedada online.</div>
          </div>
          <div class="mb-3">
            <label for="datacriacaoInput" class="form-label">Data de Criação</label>
            <input type="text" class="form-control" id="datacriacaoInput">
          </div>
          <div class="mb-4">
            <label for="dataregistroInput" class="form-label">Data Fim</label>
            <input type="text" class="form-control" id="dataregistroInput">
          </div>
          <div class="mb-3 text-center">
          <button type="submit" class="btn btn-dark align-center">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  
  
  <app-footer></app-footer>
  </div>