<div class="container bg-light">
    <app-navbar></app-navbar>
    <div class="row"></div>
    <div class="row d-flex">
      <div class="col d-flex justify-content-center">
        <form
          (ngSubmit)="onSubmit()"
          class="needs-validation"
          novalidate
          [formGroup]="form"
          *ngIf="form"
        >
  
          <div class="mb-3">
            <label for="tituloInput" class="form-label">Título</label>
            <input
              type="text"
              class="form-control"
              id="tituloInput"
              formControlName="titulo"
            />
          </div>
          <div class="mb-3">
            <label for="descricaoInput" class="form-label">Descrição</label>
            <input
              type="text"
              class="form-control"
              id="descricaoInput"
              formControlName="descricao"
            />
          </div>
          <div class="mb-3">
            <label for="linkInput" class="form-label">Link</label>
            <input
              type="text"
              class="form-control"
              id="linkInput"
              formControlName="link"
            />
          </div>
          <div class="mb-3">
            <label for="imagemInput" class="form-label">Imagem</label>
            <input
              type="email"
              class="form-control"
              id="imagemInput"
              aria-describedby="imagemHelp"
              formControlName="imagem"
            />
            <div id="imagemHelp" class="form-text">
              Envie o link de uma imagem hospedada online.
            </div>
          </div>
          <div class="mb-3">
            <label for="datacriacaoInput" class="form-label"
              >Data de Criação</label
            >
            <input
              type="text"
              class="form-control"
              id="datacriacaoInput"
              formControlName="data_criacao"
            />
          </div>
          <div class="mb-4">
            <label for="dataregistroInput" class="form-label"
              >Data de Registro</label
            >
            <input
              type="text"
              class="form-control"
              id="dataregistroInput"
              formControlName="data_registro"
            />
          </div>
          <div class="mb-3">
            <label for="palavrasChaveInput" class="form-label"
              >Palavras-Chave</label
            >
            <div class="input-group">
              <input
                #palavras
                type="email"
                class="form-control"
                id="palavrasChaveInput"
                aria-describedby="palavrasChaveHelp"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
                (click)="addPalavras(palavras.value)"
                >
                +
              </button>
            </div>
            <div id="palavrasChaveHelp" class="form-text">
              Clique no botão '+' para adicionar cada palavra.
            </div>
            <div>
              <li *ngFor="let item of palavrasChave">{{ item }}</li>
              <li *ngFor="let p of recursos">{{ p.palavras_chave }}</li>
            </div>
          </div>
          <div class="mb-3 text-center">
            <button type="submit" class="btn btn-dark align-center">
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  