<div class="container bg-light">
  <app-navbar></app-navbar>
  <div class="row">
    <p class="text-center display-6">Cursos - Detalhes</p>
  </div>
  <div class="row d-flex">
    <div class="col d-flex justify-content-center">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="tituloInput" class="form-label">Título</label>
          <input
            type="text"
            class="form-control"
            id="tituloInput"
            formControlName="titulo"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="descricaoInput" class="form-label">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="descricaoInput"
            formControlName="descricao"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="imagemInput" class="form-label">Imagem</label>
          <input
            type="email"
            class="form-control"
            id="imagemInput"
            aria-describedby="imagemHelp"
            formControlName="imagem"
            readonly
          />
          <div id="imagemHelp" class="form-text">
            O link da imagem hospedada online.
          </div>
        </div>
        <div class="mb-3">
          <label for="datacriacaoInput" class="form-label"
            >Data de Registro</label
          >
          <input
            type="text"
            class="form-control"
            id="datacriacaoInput"
            formControlName="data_registro"
            readonly
            mask="0000-00-00"
          />
        </div>
        <div class="mb-3 text-center">
          <button
            type="button"
            class="btn btn-warning align-center"
            (click)="onEdit()"
          >
            Editar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngIf="res.length > 0">
    <div class="col d-flex justify-content-center">
      <div class="mb-3">
        <label for="selectAutor" class="form-label"
          >Deseja associar um recurso existente?</label
        >
        <select
          class="form-select"
          id="selectAutor"
          aria-label="Default select example"
          (change)="onChoice()"
        >
          <option selected>Não</option>
          <option>Sim</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngIf="res.length > 0">
    <div class="col d-flex justify-content-center">
      <div class="mb-6 justify-content-center">
        <form
          (ngSubmit)="onSubmit()"
          class="needs-validation"
          novalidate
          [formGroup]="form"
          *ngIf="associarRecurso"
          class="justify-content-center"
        >
          <div class="mb-3">
            <label for="selectAutor" class="form-label"
              >Selecione o recurso</label
            >
            <select
              class="form-select"
              id="selectAutor"
              aria-label="Default select example"
            >
              <option>Selecione</option>
              <option
                *ngFor="let rec of res"
                value="{{ rec.id }}"
                (click)="onChange(rec.id)"
              >
                {{ rec.titulo }}
              </option>
            </select>
          </div>
          <div class="mb-3 text-center">
            <button type="submit" class="btn btn-dark align-center mx-2">
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="recursos.length>0">
    <p class="text-center fs-5"> Recursos do Evento </p>
  </div>
  <div class="row" *ngIf="recursos.length>0">
    <div class="col">
      <table class="table table-curved table-striped table-borderless table-hover" >
        <thead>
          <tr>
            <th scope="col">Imagem</th>
            <th scope="col">Título</th>
            <th scope="col">Descricao</th>
            <th scope="col">Link</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Data de Registro</th>
            <th scope="col">Palavras Chave</th>
            <th scope="col">Desassociar</th>
          </tr>
        </thead>
        <tbody *ngFor="let resourse of recursos">
          <tr class="info-user">
            <td><img src={{resourse.imagem}} width="40" height="40" alt= /></td>
            <td>{{resourse.titulo}}</td>
            <td>{{resourse.descricao}}</td>
            <td><a href={{resourse.link}} target="_blank">{{resourse.link}}</a></td>
            <td>{{resourse.data_criacao}}</td>
            <td>{{resourse.data_registro}}</td>
            <td>{{resourse.palavras_chave}}</td>
            <td>
              <button
                (click)="onRemove(resourse.id)"
                style="background: transparent; border: none"
              >
                <img src="../../assets/remove.svg" alt="View" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <app-footer></app-footer>
</div>
