li{
    display: inline;
    padding: 0.5em 0.5em 0.5em;
  }

li:before {
    content:"• ";
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}