<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../../../../assets/edu.svg" alt="" width="40" height="40">
      Recursos Educacionais
    </a>
    <div class="d-flex">
      <a class="nav-link active" aria-current="page" href="/recursos">Recursos</a>
      <a class="nav-link active" aria-current="page" href="#">Eventos</a>
      <a class="nav-link active" aria-current="page" href="#">Cursos</a>
    </div>   
    </div>

  
</nav>